# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Pokemon/FileContentIndex/6c297e13-5d9a-4e3d-aa42-15f4b0c505e4.vsidx
.vs/Pokemon/FileContentIndex/e46ba8e4-fa24-4cb1-b2a8-6249720d1840.vsidx
.vs/Pokemon/v17/.wsuo
.vs/Pokemon/v17/Browse.VC.db
.vs/Pokemon/v17/DocumentLayout.backup.json
.vs/Pokemon/v17/DocumentLayout.json
.vs/Pokemon/v17/ipch/AutoPCH/544d1b9e24b8e756/MAIN.ipch
Pokemon/Pokemon.vcxproj.user
Pokemon/.vs/Pokemon/FileContentIndex/37e6fe3c-240d-4d1a-b834-00d7f6d498ef.vsidx
Pokemon/.vs/Pokemon/FileContentIndex/69e1b675-6e60-481a-b4e5-3901e5a6549f.vsidx
Pokemon/.vs/Pokemon/FileContentIndex/8b720517-1de8-479e-8b06-9ef92b0270e5.vsidx
Pokemon/.vs/Pokemon/FileContentIndex/a6c3843e-babc-4315-8feb-80321ed87977.vsidx
Pokemon/.vs/Pokemon/FileContentIndex/ad8cb525-24ca-454f-b4a0-534a56d220ad.vsidx
Pokemon/.vs/Pokemon/v17/.suo
Pokemon/.vs/Pokemon/v17/Browse.VC.db-shm
Pokemon/.vs/Pokemon/v17/Browse.VC.db-wal
Pokemon/.vs/Pokemon/v17/Browse.VC.opendb
Pokemon/.vs/Pokemon/v17/ipch/AutoPCH/9ae0083e6f61f66/UTILITY.ipch
Pokemon/.vs/Pokemon/v17/ipch/AutoPCH/9b368b98e4e4e629/MAIN.ipch
Pokemon/Debug/Pokemon.pdb
Pokemon/Pokemon/Debug/Pokemon.exe.recipe
Pokemon/Pokemon/Debug/Pokemon.ilk
Pokemon/Pokemon/Debug/vc143.idb
Pokemon/Pokemon/Debug/vc143.pdb
Pokemon/Pokemon/Debug/Pokemon.tlog/CL.command.1.tlog
Pokemon/Pokemon/Debug/Pokemon.tlog/Cl.items.tlog
Pokemon/Pokemon/Debug/Pokemon.tlog/CL.read.1.tlog
Pokemon/Pokemon/Debug/Pokemon.tlog/CL.write.1.tlog
Pokemon/Pokemon/Debug/Pokemon.tlog/link.command.1.tlog
Pokemon/Pokemon/Debug/Pokemon.tlog/link.read.1.tlog
Pokemon/Pokemon/Debug/Pokemon.tlog/link.secondary.1.tlog
Pokemon/Pokemon/Debug/Pokemon.tlog/link.write.1.tlog
Pokemon/Pokemon/Debug/Pokemon.tlog/Pokemon.lastbuildstate
Pokemon/Pokemon/x64/Debug/Pokemon.ilk
Pokemon/Pokemon/x64/Debug/Pokemon.log
Pokemon/Pokemon/x64/Debug/vc143.pdb
Pokemon/x64/Debug/Pokemon.pdb
